@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}


header {
  position: relative; 
  width: 100%;
  
  padding-top: 150px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white; 

}


header h1 {
  font-size: 3rem;
  margin: 0;
}

header h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: normal;
}


.haikei {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.haikei figure {
  margin: 0;
  width: 100%;
  height: 100%;
}

.haikei img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  
  background-color:rgb(143, 159, 171);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

nav li {
  flex: 1;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover {
  background-color: #ddd;
  color: black;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

section figure {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

section {
  margin: 120px; 
  max-width: 700px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
